<h1>Genre</h1>
<ul>
  <li *ngFor="let genre of genrelist">
    <div>
      <a routerLink="/genres/{{genre._id}}">{{genre.name}}</a> 
    </div>
    <div>{{genre._id}}</div>
    <div>{{genre.created_at}}</div>
    <div>{{genre.modified_at}}</div>
  </li>
</ul>


<div class="container">
  <h1>Genre Form</h1>
  <form (ngSubmit)="newgenre()" #genreForm="ngForm">
    <div class="form-group">
      <label for="name">Genre Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="new_genre.name" name="name" required>
    </div>

    <button class="btn btn-success" >Submit</button>
  </form>
</div>
