<div>
  {{bill.customer.first_name}}, {{bill.customer.last_name}}
  <button class="delete" title="delete bill" (click)="delete(bill._id)">X</button>
</div>
<div>{{bill._id}}</div>
<div>{{bill.created_at}}</div>
<div>{{bill.modified_at}}</div>
<ul>
  <li *ngFor="let dish of bill.dishes">
    <div>{{dish.name}}</div>
  </li>
</ul>
<button (click)="goBack()">go back</button>

<form [formGroup]="new_bill" (ngSubmit)="updateBill()">

  <div class="form-group">
    <label>customer</label> :
    <select class="form-control" formControlName="customer">
      <option *ngFor="let customer of customer_list" [value]="customer._id">{{customer.first_name}}</option>
    </select>
  </div>
  <div formArrayName="dishes">
    <h3>Dishes</h3>
    <button type="button" (click)="addDishes()">Add Dish</button>
    <div *ngFor="let www of dish.controls; let i=index">
      <label>
        Dishes:
        <select class="form-control" [formControlName]="i">
          <option *ngFor="let dish of dish_list" [value]="dish._id">{{dish.name}}</option>
        </select>
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

<p>
  Form status: {{new_bill.status}} Form value: {{new_bill.value | json}}
</p>