<div>
  {{customer.first_name}}, {{customer.last_name}}
  <button class="delete" title="delete customer" (click)="delete(customer._id)">X</button>
</div>
<div>{{customer._id}}</div>
<div>{{customer.created_at}}</div>
<div>{{customer.modified_at}}</div>
<button (click)="goBack()">go back</button>

<div class="container">
  <h1>customer Update Form</h1>
  <form (ngSubmit)="updateCustomer()" #customerForm="ngForm">
    <div class="form-group">
      <label for="first_name">customer firstname</label>
      <input type="text" class="form-control" id="first_name" [(ngModel)]="new_customer.first_name" name="first_name" required>
    </div>
    <div class="form-group">
      <label for="last_name">customer lasttname</label>
      <input type="text" class="form-control" id="last_name" [(ngModel)]="new_customer.last_name" name="last_name" required>
    </div>
    <div class="form-group">
      <label for="address">customer address</label>
      <input type="text" class="form-control" id="address" [(ngModel)]="new_customer.address" name="address" required>
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
</div>